*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eaecfa;
}
.popup{
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
h2{
    color:#8a75e7
}
a{
    display: block;
    width: 180px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color:#8a75e7;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
    border: #8a75e7;
    border-radius: 50px;
}
